*
  outline: none
  box-sizing: border-box
  &:focus
    box-shadow: 0 0 3px 1px map-get($bg-colors, primary)

body
  font-family: 'Assistant', sans-serif
  +font-size(14)
  +line-height(20)
  color: map-get($text-colors, grey)

h1
  margin: 35px 0

a
  text-decoration: none

.icon
  width: 1rem
  height: 1rem

.hidden
  display: none!important

.text-overflow
  display: inline-block
  width: 100%
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

.visually-hidden
  position: absolute
  white-space: nowrap
  width: 1px
  height: 1px
  overflow: hidden
  border: 0
  padding: 0
  clip: rect(0, 0, 0, 0)

.for-img
  text-align: center
  img
    max-width: 100%
    max-height: 100%
    height: auto

.wrapper
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  max-width: 1920px
  min-height: 100vh
  background: #fff
  overflow: hidden

.site
  flex: 1 1 auto
  display: flex
  padding-left: 52px

.main
  width: 100%
  padding: 10px
