*
  outline: none
  box-sizing: border-box
  &:focus
    box-shadow: 0 0 3px 1px map-get($bg-colors, primary)

body
  min-width: 768px
  font-family: 'Assistant', sans-serif
  +font-size(14)
  +line-height(20)
  color: map-get($text-colors, grey)

a
  text-decoration: none

.icon
  width: 1rem
  height: 1rem

.desktop-only
  display: block
  @include screen(lg)
    display: none
    
.mobile-only
  display: none
  @include screen(lg)
    display: block

.visually-hidden
  position: absolute
  white-space: nowrap
  width: 1px
  height: 1px
  overflow: hidden
  border: 0
  padding: 0
  clip: rect(0, 0, 0, 0)

.for-img
  text-align: center
  img
    max-width: 100%
    max-height: 100%
    height: auto

.link
  text-decoration: underline
  color: map-get($text-colors, primary)
  &:hover,
  &:focus
    text-decoration: none

.wrapper
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  max-width: 1920px
  min-height: 100vh
  background-color: map-get($bg-colors, white)
  overflow: hidden

.site
  flex: 1 1 auto
  display: flex
  padding-left: 52px

.main
  width: 100%
  padding: 10px

.section
  &:not(:last-child)
    margin-bottom: 35px
  &__title
    display: inline-block
    margin-bottom: 20px
    +font-size(16)
    +line-height(20)
    font-weight: 400
    border-bottom: 1px solid map-get($bg-colors, secondary)
    color: map-get($text-colors, primary)

.card
  margin-bottom: 15px
  padding: 15px
  border-radius: 5px
  box-shadow: 0 5px 5px 0 rgba(0,0,0,.15)
  &__label
    padding: 5px 0
    color: map-get($text-colors, grey-dark)
  &__text
    padding: 5px 0

.shipment
  &__action
    display: flex
    flex-direction: column
    padding: 20px 0
    align-items: flex-end
    @include screen(md)
      align-items: center